<h2>New Tweet!</h2>
<form action="/tweets" method="POST" class="tweet-compose">
  <input
      type="hidden"
      name="authenticity_token"
      value="<%= form_authenticity_token %>">

  <label>
    Content
    <textarea name="tweet[content]"></textarea>
  </label>
  <br>

  <label>
    Mention
    <script type="text/template">
      <div class="select-div">
        <select name="tweet[mentioned_user_ids][]">
          <option></option>
          <% User.all.each do |user| %>
            <option value="<%= user.id %>"><%= user.username %></option>
          <% end %>
        </select>
        <a href="javascript:void(0)" class="remove-mentioned-user">Remove Mention</a>
      </div>
    </script>
  </label>

  <a href="javascript:void(0)" class="add-mentioned-user" >Add Mention</a>
  <h5>Mentioned Users</h5>
  <div class="mentioned-users">
  </div>

  <br>
  <strong class="chars-left">140</strong>

  <input type="Submit" value="Post Tweet!">
</form>
